<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservise</h1>
    <hr />

    <ol class="user-stories">
      <li>The API endpoint is <code>GET [url]/api/timestamp/:date_string?</code></li>
      <li>A date string is valid if can be successfully parsed by <code>new Date(date_string)</code>.<br></li>
      <li>API accepts unix time</li>
      <li>If the date string is <strong>empty</strong> the services uses the current timestamp.</li>
      <li>If the date string is <strong>valid</strong> the api returns a JSON having the unix structure</li>
      <li>If the date string is <strong>Invalid</strong>the api returns a JSON having the structure</li>
      <code>{"error" : "INvalid Date"}</code>
    </ol>
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/timestamp/2015-12-25">[url]/api/timestamp/2015-12-25</a></li>
        <li><a href="api/timestamp/1451001600000">[url]/api/timestamp/1451001600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
      </p>
    </div>
  </body>
</html>
